#header{
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index:999;
    width: 100%;
    outline: 2px solid yellow;
    background-color: transparent;
}
#content-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    max-width: 90%;
    margin:auto;
    outline: 2px solid blue;
}
#image-container{
width:50%;
align-items: left;
margin: 16px 0;
outline: 2px solid green;
}