@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,400&display=swap');
span{
    font-family: 'DM Sans', sans-serif;
}
a{
    cursor: pointer;
    color:black;
    font-family: 'DM Sans', sans-serif;
}