.projects-section{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}
.text-box{
    text-align: center;
    padding: 80px 0;
    opacity: 1;
    transform: translateZ(0);
    transition:ease-in;
    transition-duration: 3s;
}
.partners{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.slider{
    height: 150px;
    margin: 0;
    overflow: hidden;
    position: relative;
    cursor: default;
    user-select: none;
    touch-action: none;
    /* border:2px solid yellow; */
}
.slide-track{
    animation:40s linear infinite;
    display: flex;
    width: 3500px;
    /* border:2px solid green; */
}
