@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,400&display=swap');

.call-to-action{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content-box{
    opacity: 1;
    transform: translateZ(0);
    transition-duration: 3s;
    transition-timing-function: ease;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 3.3rem;

}

