<div class="about-team-carousel">
   <div class="section">
     <div class="container">

        <div class="head-box">
            <span class="h-span">{{ header[0] }}</span>
            <p class="head-p"> {{ header[1] }}</p>
        </div>

        <div class="carousel-box" >
            <div [@slide]="currentMemberIndex" class="card" *ngFor="let member of members" >
               <img [src]="member.image" class="card-img">
               <p class="name">{{ member.name }}</p>
               <p class="title">{{ member.title}}</p>
               <div class="link">
                <svg class="svg-inline--fa fa-linkedin-in" style="color: #fff;" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"></path></svg>
               </div>
            </div>
        </div>

        <div class="button-section">
          <button 
          id="scroll-left" 
          class="buttons"
          (click)="scrollLeft()">
          <span class="mat-mdc-button-persistent-ripple mdc-fab__ripple">
            <span class="mdc-button__label">
                <svg class="svg-inline--fa fa-arrow-left active" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                    <path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z">

                    </path>
                </svg><!-- <i _ngcontent-fng-c153="" class="fa-solid active fa-arrow-left"></i> Font Awesome fontawesome.com -->
            </span>
          </span>
          </button>

          <button 
          id="scroll-right" 
          class="buttons"
          (click)="scrollRight()">
          
          </button>
        </div>
     </div>
   </div> 
</div>
