@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;1,9..40,400&display=swap');
.banner{
    background-color: rgb(255,255,255);
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-size:24px;
    font-family: 'DM Sans', sans-serif;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px
}
.beyond-business{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%
}
.image-content{
    display:grid;
    place-items: center;
}
.flex-items{
    flex-direction: row-reverse;
    display: flex;
    gap: 10%;
    width: 80%;
    max-height: 80vh;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    transform: translateZ(0);
    transition-duration: 3s;

}



