@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;1,9..40,400&display=swap');
.cooperative-sctn{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-size:28px;
    font-family: 'DM Sans', sans-serif;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}