<div class="footer-navigations">
    <div class="headquarters">
        <h4> {{headquarters[0]}} </h4>
        <p>
         {{headquarters[1]}}   
         <br>
         {{headquarters[2]}}
         <br>
         {{headquarters[3]}}
        </p>
    </div>
    <div class ="contacts">
        <h4>{{contacts[0]}}</h4>
        <p><a href="#">{{contacts[1]}}</a></p>
        <br>
        <p><a href="#">{{contacts[2]}}</a></p>
    </div>
    <div class="activities">
        <h4>{{ navigations[0] }}</h4>
        <p><a href="#">{{ navigations[1] }}</a></p>
        <br>
        <p><a href="#">{{ navigations[2] }}</a></p>
        <br>
        <p><a href="#">{{ navigations[3] }}</a></p>
        <br>
        <p><a href="#">{{ navigations[4] }}</a></p>
        <br>
        <p><a href="#">{{ navigations[5] }}</a></p>
    </div>
    <div class="brands">
        <h4>{{ brands[0] }}</h4>
        <p><a href="#">{{ brands[1] }}</a></p>
        <br>
        <p><a href="#">{{ brands[2] }}</a></p>
    </div>
    <div class="privacy">
        <h4>{{ privacy[0] }}</h4>
        <p><a href="#">{{ privacy[1] }}</a></p>
        <br>
        <p><a href="#">{{ privacy[2] }}</a></p>
    </div>
</div>
